 [contenteditable="true"]{outline:none;}

#editContainer,#drafts,#subNav{
    margin-top: 20px;
    
}

#title{
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    font-weight:bold;
}

body,textarea{
    font-size: 17px;
    line-height: 25px;
}

#previewContainer{
    display:none;
}

.previewFeedBack{
    
    font-size: 12px;
}

.hiddenElement{
    
    display:none;
}

.subNav,.draftList,.saveStatus{
    
    letter-spacing:2px;
    font-size: 12px;
    
}

.draftListItems{
    
    cursor: pointer;
}

